img{width: 300px;
    
} 
Body{
    font-family: 'Source Sans Pro', sans-serif;
    background:Red;
}
/* This centers everything on your
 page */
 body {
  text-align:center;   
 }

.gameawards {
    color: white;
}
.fortnite {
    color: blue;   
}
.code {
 color:pink; 
}

    
